/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * CrashAndGrab implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * crashandgrab.css
 *
 * CrashAndGrab stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (crashandgrab_crashandgrab.tpl), and to HTML elements you create dynamically
    (in crashandgrab.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.

     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


/***** GENERAL LAYOUT *****/
body {
    /* The following lines prevent the iPhone from overriding small font sizes. */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#board_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 710px;*/
    min-width: 768px;
    float: left;
}

#board_area div {
    /*outline: 1px solid red;*/
}

#middle_board_row {
  display: block;
  margin-top: -20px;
}

#outer_board {
  margin-bottom: 10px;
}

#outer_board_left_column {
  display: inline-block;
  vertical-align: top;
  width: 64px;
}

#outer_board_bottom_row
{
  margin-top: -20px;
}

#outer_board_right_column {
  display: inline-block;
  vertical-align: top;
  width: 64px;

  margin-left: -20px;
}

#hand_and_mats_column {
    display: inline-block;
    width: 390px;
    height: 2500px;
}

#board_tile_column {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 810px;
}

.component_rounding {
    border-radius: 10px;
    border: 1px black solid;

    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

.component_circle {
    border-radius: 50px;
    border: 1px black solid;

    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

/***** DIRECTIONS *****/

.direction_token {
  border-radius: 6px;
  border: 1px black solid;
}

/* this is really a column */
#direction_constellation {
    display: inline-block;

    width: 64px;
    height: 64px;

    background-image: url('img/direction_tokens.png');
    background-position: 0px 0px;
}

/* this is really a column */
#direction_asteroids {
    display: inline-block;

    width: 64px;
    height: 64px;

    background-image: url('img/direction_tokens.png');
    background-position: -192px 0px;
}

#direction_sun {

    width: 64px;
    height: 64px;

    display: inline-block;

    background-image: url('img/direction_tokens.png');
    background-position: -128px 0px;
}

#direction_meteor {

    width: 64px;
    height: 64px;

    display: inline-block;

    background-image: url('img/direction_tokens.png');
    background-position: -64px 0px;
}

#constellation_1_button {
  margin-left: 30px ! important;
}

#constellation_2_button {
  margin-left: 30px ! important;
}

#sun_1_button {
  margin-top: -40px ! important;
}

#sun_2_button {
  margin-top: -40px ! important;
}

#meteor_1_button {
  margin-top: 40px ! important;
  margin-left: -51px ! important;
}

#meteor_2_button {
  margin-top: 40px ! important;
  margin-left: -51px ! important;
}

/*
#asteroids_1_button {
  margin-left: -60px ! important;
}

#asteroids_2_button {
  margin-left: -60px ! important;
}
*/

#saucer_1_action_button_holder {
    margin-bottom: 15px;
}

#saucer_2_action_button_holder {
    margin-bottom: 15px;
}

/***** SECTIONS *****/


/***** BOARD *****/
.grid-container {
  display: inline-grid;
  grid-gap: 0px;
}

.board_row_0 {grid-row: 1;}
.board_row_1 {grid-row: 2;}
.board_row_2 {grid-row: 3;}
.board_row_3 {grid-row: 4;}
.board_row_4 {grid-row: 5;}
.board_row_5 {grid-row: 6;}

.board_column_0 {grid-column:1;}
.board_column_1 {grid-column:2;}
.board_column_2 {grid-column:3;}
.board_column_3 {grid-column:4;}
.board_column_4 {grid-column:5;}
.board_column_5 {grid-column:6;}

.square {
    width: 46px;
    height: 46px;
/*    position: absolute; */
    border-style: solid;
    border-width: 1px;

}

.highlighted_square
{
/*  background-color:rgba(0,0,255,0.3); // blue highlight */

    background-color: white;
    opacity: 0.6;
    filter:alpha(opacity=60);
    cursor: pointer;

    box-sizing: border-box;
    border: 3px solid red;
}



.top_of_tile { margin-top: 10px; }
.bottom_of_tile { margin-bottom: 10px; }
.left_of_tile { margin-left: 10px; }
.right_of_tile { margin-right: 10px; }

.board_tile_image { background-image: url('img/4x4.jpg'); }

.board_tile_image_1_A_0 {
  background-position: 0px 0px;
}
.board_tile_image_1_A_1 {
  background-position: 0px -204px;
}
.board_tile_image_1_A_2 {
  background-position: 0px -408px;
}
.board_tile_image_1_A_3 {
  background-position: 0px -612px;
}

.board_tile_image_1_B_0 {
  background-position: 0px -816px;
}
.board_tile_image_1_B_1 {
  background-position: 0px -1020px;
}
.board_tile_image_1_B_2 {
  background-position: 0px -1224px;
}
.board_tile_image_1_B_3 {
  background-position: 0px -1428px;
}

.board_tile_image_2_A_0 {
  background-position: -204px 0px;
}
.board_tile_image_2_A_1 {
  background-position: -204px -204px;
}
.board_tile_image_2_A_2 {
  background-position: -204px -408px;
}
.board_tile_image_2_A_3 {
  background-position: -204px -612px;
}

.board_tile_image_2_B_0 {
  background-position: -204px -816px;
}
.board_tile_image_2_B_1 {
  background-position: -204px -1020px;
}
.board_tile_image_2_B_2 {
  background-position: -204px -1224px;
}
.board_tile_image_2_B_3 {
  background-position: -204px -1428px;
}

.board_tile_image_3_A_0 {
  background-position: -408px 0px;
}
.board_tile_image_3_A_1 {
  background-position: -408px -204px;
}
.board_tile_image_3_A_2 {
  background-position: -408px -408px;
}
.board_tile_image_3_A_3 {
  background-position: -408px -612px;
}

.board_tile_image_3_B_0 {
  background-position: -408px -816px;
}
.board_tile_image_3_B_1 {
  background-position: -408px -1020px;
}
.board_tile_image_3_B_2 {
  background-position: -408px -1224px;
}
.board_tile_image_3_B_3 {
  background-position: -408px -1428px;
}

.board_tile_image_4_A_0 {
  background-position: -612px 0px;
}
.board_tile_image_4_A_1 {
  background-position: -612px -204px;
}
.board_tile_image_4_A_2 {
  background-position: -612px -408px;
}
.board_tile_image_4_A_3 {
  background-position: -612px -612px;
}

.board_tile_image_4_B_0 {
  background-position: -612px -816px;
}
.board_tile_image_4_B_1 {
  background-position: -612px -1020px;
}
.board_tile_image_4_B_2 {
  background-position: -612px -1224px;
}
.board_tile_image_4_B_3 {
  background-position: -612px -1428px;
}

/* 5 PLAYER HORIZONTAL */
.board_tile_5or7_5_player {
  width: 204px;
  height: 55px;
  background-image: url('img/4x1_board_tiles_horizontal.jpg');
}

.board_tile_image_5or7_5_A_0 {
  background-position: 0px 0px;
}
.board_tile_image_5or7_5_A_2 {
  background-position: 0px -55px;
}

.board_tile_image_5or7_5_B_0 {
  background-position: 0px -110px;
}
.board_tile_image_5or7_5_B_2 {
  background-position: 0px -165px;
}

.board_tile_image_5or7_6_A_0 {
  background-position: -204px 0px;
}
.board_tile_image_5or7_6_A_2 {
  background-position: -204px -55px;
}

.board_tile_image_5or7_6_B_0 {
  background-position: -204px -110px;
}
.board_tile_image_5or7_6_B_2 {
  background-position: -204px -165px;
}

.board_tile_image_5or7_7_A_0 {
  background-position: -408px 0px;
}
.board_tile_image_5or7_7_A_2 {
  background-position: -408px -55px;
}

.board_tile_image_5or7_7_B_0 {
  background-position: -408px -110px;
}
.board_tile_image_5or7_7_B_2 {
  background-position: -408px -165px;
}

.board_tile_image_5or7_8_A_0 {
  background-position: -612px 0px;
}
.board_tile_image_5or7_8_A_2 {
  background-position: -612px -55px;
}

.board_tile_image_5or7_8_B_0 {
  background-position: -612px -110px;
}
.board_tile_image_5or7_8_B_2 {
  background-position: -612px -155px;
}

/* 5 PLAYER VERTICAL */
.board_tile_6or8_5_player {
  width: 55px;
  height: 200px;
  background-image: url('img/4x1_board_tiles_vertical.jpg');
}

.board_tile_image_6or8_5_A_1
{
    background-position: 0px 0px;
}

.board_tile_image_6or8_5_A_3
{
    background-position: 0px -204px;
}

.board_tile_image_6or8_5_B_1
{
    background-position: 0px -408px;
}

.board_tile_image_6or8_5_B_3
{
    background-position: 0px -612px;
}

.board_tile_image_6or8_6_A_1
{
    background-position: -55px 0px;
}

.board_tile_image_6or8_6_A_3
{
    background-position: -55px -204px;
}

.board_tile_image_6or8_6_B_1
{
    background-position: -55px -408px;
}

.board_tile_image_6or8_6_B_3
{
    background-position: -55px -612px;
}

.board_tile_image_6or8_7_A_1
{
    background-position: -110px 0px;
}

.board_tile_image_6or8_7_A_3
{
    background-position: -110px -204px;
}

.board_tile_image_6or8_7_B_1
{
    background-position: -110px -408px;
}

.board_tile_image_6or8_7_B_3
{
    background-position: -110px -612px;
}

.board_tile_image_6or8_8_A_1
{
    background-position: -165px 0px;
}

.board_tile_image_6or8_8_A_3
{
    background-position: -165px -204px;
}

.board_tile_image_6or8_8_B_1
{
    background-position: -165px -408px;
}

.board_tile_image_6or8_8_B_3
{
    background-position: -165px -612px;
}

/* 5 PLAYER CENTER */

.board_tile_9_5_player
{

  background-image: url('img/1x1.jpg');
}

.board_tile_image_9_9_A_0
{

  background-position: 0px 0px;
}

.board_tile_image_9_9_B_0
{

  background-position: 0px -55px;
}

/* 6 PLAYER HORIZONTAL */

.board_tile_5or7_6_player
{
    width: 204px;
    height: 104px;

    display: inline-block;

    margin: 1px;
    padding: 0px;

    background-image: url('img/4x2_board_tiles_horizontal.jpg');
}


.board_tile_image_5or7_10_A_0 {
  background-position: 0px 0px;
}
.board_tile_image_5or7_10_A_2 {
  background-position: 0px -104px;
}

.board_tile_image_5or7_10_B_0 {
  background-position: 0px -208px;
}
.board_tile_image_5or7_10_B_2 {
  background-position: 0px -312px;
}

.board_tile_image_5or7_11_A_0 {
  background-position: -204px 0px;
}
.board_tile_image_5or7_11_A_2 {
  background-position: -204px -104px;
}

.board_tile_image_5or7_11_B_0 {
  background-position: -204px -208px;
}
.board_tile_image_5or7_11_B_2 {
  background-position: -204px -312px;
}

.board_tile_image_5or7_12_A_0 {
  background-position: -408px 0px;
}
.board_tile_image_5or7_12_A_2 {
  background-position: -408px -104px;
}

.board_tile_image_5or7_12_B_0 {
  background-position: -408px -208px;
}
.board_tile_image_5or7_12_B_2 {
  background-position: -408px -312px;
}

.board_tile_image_5or7_13_A_0 {
  background-position: -612px 0px;
}
.board_tile_image_5or7_13_A_2 {
  background-position: -612px -104px;
}

.board_tile_image_5or7_13_B_0 {
  background-position: -612px -208px;
}
.board_tile_image_5or7_13_B_2 {
  background-position: -612px -312px;
}



/* 6 PLAYER VERTICAL */

.board_tile_6or8_6_player
{
    width: 104px;
    height: 204px;

    display: inline-block;
    vertical-align: top;

    margin: 1px;
    padding: 0px;

    background-image: url('img/4x2_board_tiles_vertical.jpg');
}

.board_tile_image_6or8_10_A_1
{
    background-position: 0px 0px;
}

.board_tile_image_6or8_10_A_3
{
    background-position: 0px -204px;
}

.board_tile_image_6or8_10_B_1
{
    background-position: 0px -408px;
}

.board_tile_image_6or8_10_B_3
{
    background-position: 0px -612px;
}

.board_tile_image_6or8_11_A_1
{
    background-position: -104px 0px;
}

.board_tile_image_6or8_11_A_3
{
    background-position: -104px -204px;
}

.board_tile_image_6or8_11_B_1
{
    background-position: -104px -408px;
}

.board_tile_image_6or8_11_B_3
{
    background-position: -104px -612px;
}

.board_tile_image_6or8_12_A_1
{
    background-position: -208px 0px;
}

.board_tile_image_6or8_12_A_3
{
    background-position: -208px -204px;
}

.board_tile_image_6or8_12_B_1
{
    background-position: -208px -408px;
}

.board_tile_image_6or8_12_B_3
{
    background-position: -208px -612px;
}

.board_tile_image_6or8_13_A_1
{
    background-position: -312px 0px;
}

.board_tile_image_6or8_13_A_3
{
    background-position: -312px -204px;
}

.board_tile_image_6or8_13_B_1
{
    background-position: -312px -408px;
}

.board_tile_image_6or8_13_B_3
{
    background-position: -312px -612px;
}

/* 6 PLAYER CENTER */
.board_tile_2_2 {
  width: 104px;
  height: 104px;
  display: inline-block;

  margin: 1px;
  padding: 0px;
}

.board_tile_9_6_player
{
  background-image: url('img/2x2.jpg');
}

.board_tile_image_9_14_B_0
{
    background-position: 0px 0px;
}

.board_tile_image_9_14_B_1
{
    background-position: 0px -104px;
}

.board_tile_image_9_14_B_2
{
    background-position: 0px -208px;
}

.board_tile_image_9_14_B_3
{
    background-position: 0px -312px;
}


.rotate_2 {
  /*transform: rotate(180deg);*/
  background-position: -1485px 0px;
  background-position
}

.row_of_tiles
{

  display: inline-block;

}

.board_tile
{
  width: 204px;
  height: 204px;
  display: inline-block;
  margin: 1px;
}

.board_space_1_1
{
  width: 51px;
  height: 51px;
  display: inline-block;
  vertical-align: top;

  margin: 2px;
  padding: 0px;
}

.board_tile_1_1
{
  width: 55px;
  height: 55px;
  display: inline-block;
  vertical-align: top;

  margin: 1px;
  padding: 0px;
}

.board_tile_1_2 {
  width: 51px;
  height: 102px;
  display: inline-block;
  vertical-align: top;

  margin: 2px;
  padding: 0px;
}



.single_column_board_tile
{
      width: 55px;
      height: 204px;
      display: inline-block;
      vertical-align: top;
      margin-left: 0px;
      margin-right: 0px;
}

.board_tile_4_1
{
      display: inline-block;

      margin: 1px;
      padding: 0px;

}

.single_row_2_width_board_tile
{
    width: 102px;
    height: 51px;
    display: inline-block;
    padding: 0px;
    margin-bottom: 1px;
}


.board_tile_row
{
  display: inline-block;

}

.spaceClick_sun
{
    cursor: pointer;
    /* could put a semi-transparent image of this direction token here */
}

.spaceClick_meteor
{
    cursor: pointer;
    /* could put a semi-transparent image of this direction token here */
}

.spaceClick_constellation
{
    cursor: pointer;
    /* could put a semi-transparent image of this direction token here */
}

.spaceClick_asteroids
{
    cursor: pointer;
    /* could put a semi-transparent image of this direction token here */
}

.space
{ /* a single space on a board tile */

    width: 51px;
    height: 51px;
    display: inline-block;

    margin: 0px;
    padding: 0px;
/*
    border-style: solid;
    border-width: 1px;
*/
}

.board_tile_4_1 .space {

}

.single_column_board_tile .space {
    /*    margin-bottom: 4px; */
}

.double_column_board_tile .space {
  margin-bottom: 0px;
}

.board_tile_container
{
    margin-left: -20px;
    display: inline-block;
}
#board_tile_container_4
{
    width: 522px;
}
#board_tile_container_5
{
    width: 584px;
}
#board_tile_container_6
{
    width: 633px;
}


/***** MOVE CARDS *****/
#myhand_wrap {
  margin-bottom: 10px;
}

#myhand {
    width: 350px;
}

#player_hand_container {
  display: inline-block;
float: left;
    width: 500px;
    height: 107px;
}

.move_card {
    width: 82px;
    height: 82px;
    background-image: url('img/movement_cards_sprite.jpg');

    display: inline-block;
    position: relative; /* must be absolute or relative to use slideToObject */

    z-index: 11; /* we want it to be on top of any played upgrades they have */
}

.move_card_back {
    width: 82px;
    height: 82px;
    background-image: url('img/movement_cards_back_sprite.jpg');

    display: inline-block;
    position: relative; /* must be absolute or relative to use slideToObject */

    z-index: 11; /* we want it to be on top of any played upgrades they have */
}

.move_card_hand {
    margin-top: 5px;
    vertical-align: middle;
}

.move_card_holder_in_hand {
    width: 100px;
    height: 100px;
    display: inline-block;

    /* needed to keep move cards vertically centered no matter whether one is chosen (rotated) or not. */
    vertical-align: middle;
}

.stockitem {
    cursor: pointer;
    position: absolute;

    border-radius: 10px;
    border: 1px black solid;

    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

.clickable
{
    cursor: pointer;
}

.cardSelected
{
    outline: 2px solid yellow ! important;
}

.cardUnselected
{
    border-width: 1px ! important;
}

.cardHighlighted
{
    border: 3px solid green ! important;
}

.cardUnhighlighted
{
    border-width: 1px ! important;
}

.spaceHighlighted
{
    background-color: rgba(0, 255, 0, 0.3); /* highligh green semitransparent */
    cursor: pointer;
}

.moveCardSelected
{
    outline: 4px solid #00FFCB;
}

.directionSelected
{
    outline: 4px solid #00FFCB;
}

.saucerSelected
{
    outline: 4px solid #00FFCB;
    border-radius: 100%;
}

.crewmemberButtonSelected
{
    outline: 4px solid #00FFCB;
}

.saucerButtonSelected
{
    outline: 4px solid #00FFCB;
}

.saucer1DistanceButtonSelected
{
    outline: 4px solid #00FFCB;
}

.saucer2DistanceButtonSelected
{
    outline: 4px solid #00FFCB;
}

.saucer1DirectionButtonSelected
{
    outline: 4px solid #00FFCB;
}

.saucer2DirectionButtonSelected
{
    outline: 4px solid #00FFCB;
}

/*
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.saucerHighlighted {
/*    min-width: 300px;
  min-height: 60px;
font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);*/
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
/*  padding: 10px; */
  }

.saucerHighlighted::before {
content: '';
/*  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;*/
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.saucerHighlighted:hover, .saucerHighlighted:focus {
  color: #313133;
  transform: translateY(-6px);
}

.saucerHighlighted:hover::before, .saucerHighlighted:focus::before {
  opacity: 1;
}

.saucerHighlighted::after {
  content: '';
  /*width: 30px; height: 30px;*/
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: saucerHighlightRing 1.5s infinite;
}

.saucerHighlighted:hover::after, .saucerHighlighted:focus::after {
  animation: none;
  display: none;
}

@keyframes saucerHighlightRing {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}


.moveCardHighlighted {
/*    min-width: 300px;
  min-height: 60px;
font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);*/
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
/*  padding: 10px; */
  }

.moveCardHighlighted::before {
content: '';
/*  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;*/
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.moveCardHighlighted:hover, .moveCardHighlighted:focus {
  color: #313133;
  transform: translateY(-6px);
}

.moveCardHighlighted:hover::before, .moveCardHighlighted:focus::before {
  opacity: 1;
}

.moveCardHighlighted::after {
  content: '';
  /*width: 30px; height: 30px;*/
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveCardHighlightRing 1.5s infinite;
}

.moveCardHighlighted:hover::after, .moveCardHighlighted:focus::after {
  animation: none;
  display: none;
}

@keyframes moveCardHighlightRing {
  0% {
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}



.directionHighlighted {
/*    min-width: 300px;
  min-height: 60px;
font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);*/
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
/*  padding: 10px; */
  }

.directionHighlighted::before {
content: '';
/*  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;*/
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.directionHighlighted:hover, .directionHighlighted:focus {
  color: #313133;
  transform: translateY(-6px);
}

.directionHighlighted:hover::before, .directionHighlighted:focus::before {
  opacity: 1;
}

.directionHighlighted::after {
  content: '';
  /*width: 30px; height: 30px;*/
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: directionHighlightRing 1.5s infinite;
}

.directionHighlighted:hover::after, .directionHighlighted:focus::after {
  animation: none;
  display: none;
}

@keyframes directionHighlightRing {
  0% {
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  100% {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}







.move_card_holder
{
  width: 100px;
  height: 100px;
  display: inline-block;

  position: relative;
  left: 51px;
  top: -11px;
}



/***** UPGRADES *****/
.upgradeCardContent
{
    width: 230px;
    height: 164px;
    position: relative;

    /* OPTION A: Works but is very small on iPhone.
    width: 230px;
    height: 164px;
    position: relative;
    */

    /* OPTION B: Font looks huge on mobile.
    width: 230px;
    height: 164px;
    position: relative;
    */

    /* OPTION C: Font looks big on mobile.
    width: 230px;
    height: 164px;
    position: relative;

    font-size: 12px;
    */
}

.upgradeTitle
{
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    font-weight: bolder;

    text-align: center;
    margin: 0 auto;
    margin-top: 1px;
    padding-top: 11px;

    width: 170px;
    height: 15px;
    text-overflow: ellipsis;

    /* OPTION A: Works but is very small on iPhone.
    font-family: Roboto, Arial, sans-serif;
    font-size: .8vw;
    font-weight: bolder;

    text-align: center;
    margin: 0 auto;
    padding-top: 12px;

    width: 170px;
    height: 15px;
    text-overflow: ellipsis;
    */

    /* OPTION B: Font looks huge on mobile.
    font-family: Roboto, Arial, sans-serif;
    font-size: .8em;
    font-weight: bolder;

    text-align: center;
    margin: 0 auto;
    padding-top: 12px;

    width: 170px;
    height: 15px;
    text-overflow: ellipsis;
    */

    /* OPTION C: Font looks big on mobile.
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    font-weight: bolder;

    text-align: center;
    margin: 0 auto;
    padding-top: 12px;

    width: 170px;
    height: 15px;
    text-overflow: ellipsis;
    */

    transform: rotateZ(-3deg);
}

.upgradeEffect
{
    font-family: Roboto, Arial, sans-serif;
    font-size: 8px;
    color: white;

    text-align: center;
    margin: 0 auto;

    left: 0px;
    right: 0px;
    bottom: 4px;
    position: absolute;


    text-overflow: ellipsis;
    width: 170px;
    height: 30px;

  /* OPTION A: Works but is very small on iPhone.
    font-family: Roboto, Arial, sans-serif;
    font-size:.63vw;
    color: white;

    text-align: center;
    margin: 0 auto;

    left: 0px;
    right: 0px;
    bottom: 2px;
    position: absolute;


    text-overflow: ellipsis;
    width: 170px;
*/

/* OPTION B: Similar to C but different em value... forgot to save it.

*/

/* OPTION C: Font looks big on mobile.
font-family: Roboto, Arial, sans-serif;
font-size:.7em;
color: white;

text-align: center;
margin: 0 auto;

left: 0px;
right: 0px;
bottom: 2px;
position: absolute;


text-overflow: ellipsis;
width: 170px;
*/

}

@media only screen and (max-width: 740px)
{
    .upgradeTitle
    {
      font-size: 6.5px;
    }
    .upgradeEffect
    {
      font-size: 5px;
      line-height: 10px;
    }
    .player_board_arrow
    {
      background-position-y: -62px;
    }
}


/***** TRAPS *****/
.myTrap
{
    width: 82px;
    height: 58px;
    background-image: url('img/ship_upgrades_82_58.jpg');
}

.trapHand
{
    width: 82px;
    height: 58px;
    display: inline-block;
    vertical-align: top;
}


/***** BUTTONS *****/
.bgaimagebutton {
  padding: 0px 12px;
  min-height: 28px;
  border: none;
}

#sun_button
{
  margin-top: -40px ! important;
}

.sun
{
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background-image: url('img/direction_tokens_25w.png');
  background-position: -50px 0px;
}

#meteor_button
{
  margin-top: 40px ! important;
  margin-left: -51px ! important;
}

.meteor
{
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background-image: url('img/direction_tokens_25w.png');
  background-position: -25px 0px;
}

#constellation_button
{
  margin-left: 30px ! important;
}

.constellation
{
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background-image: url('img/direction_tokens_25w.png');
  background-position: 0px 0px;
}

.asteroids
{
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background-image: url('img/direction_tokens_25w.png');
  background-position: -75px 0px;
}


/***** MATS *****/


.opponent_mat_holder {
      margin-top: -70px;
}

.player_board_saucer_mat_holder {
  width: 154px;
  height: 154px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-image: url('img/ship_mats_154_154.png');
}

.saucer_button
{

}

.saucer_color_01b508 { background-position: -49px 0px;   } /* green */
.saucer_color_0090ff { background-position: -98px 0px;   } /* blue */
.saucer_color_fedf3d { background-position: -147px 0px;   } /* yellow */
.saucer_color_f6033b { background-position: 0px 0px;   } /* red */
.saucer_color_e77324 { background-position: -244px 0px;   } /* orange */
.saucer_color_b92bba { background-position: -196px 0px;   } /* purple */

/* green */
#player_board_saucer_mat_holder_01b508 {
    background-position: 0px 0px;
}

/* blue */
#player_board_saucer_mat_holder_0090ff {
    background-position: -154px 0px;
}

/* yellow */
#player_board_saucer_mat_holder_fedf3d {
    background-position: -308px 0px;
}

/* red */
#player_board_saucer_mat_holder_f6033b {
    background-position: -462px 0px;
}

/* orange */
#player_board_saucer_mat_holder_e77324 {
    background-position: -616px 0px;
}

/* purple */
#player_board_saucer_mat_holder_b92bba {
    background-position: -770px 0px;
}

.player_board_content {
  /* center it */
  position: relative;
  .inner {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
}

/* holds all player board content for a saucer */
.player_board_for_saucer {

  width: 234px;


}

.mat_and_stuff_row {
    width: 353px;
    height: 135px;

    /* center it */
    display:flex;
    justify-content: center;
    align-items: center;

    float: right;
    vertical-align: middle;
    margin: 5px;
    margin-left: 10px;

    border-radius: 10px;
    border: 0px black solid;
}

.transparent_background_01b508
{
  background-color: rgba(1,181,8,0.5);

  border-radius: 10px;
  border: 5px #01b508 solid;
}

.transparent_background_b92bba
{
  background-color: rgba(185,43,186,0.5);

  border-radius: 10px;
  border: 5px #b92bba solid;
}

.transparent_background_e77324
{
  background-color: rgba(231,115,36,0.5);

  border-radius: 10px;
  border: 5px #e77324 solid;
}

.transparent_background_fedf3d
{
  background-color: rgba(254,223,61,0.5);

  border-radius: 10px;
  border: 5px #fedf3d solid;
}

.transparent_background_0090ff
{
  background-color: rgba(0,144,255,0.5);

  border-radius: 10px;
  border: 5px #0090ff solid;
}

.transparent_background_f6033b
{
  background-color: rgba(246,3,59,0.5);

  border-radius: 10px;
  border: 5px #f6033b solid;
}

.mat_row {
  display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 320px;
}

.mat_inner_row {
    height: 46px;
}

#mat_head_row
{
    margin-top: 38px;
}

.mat_head_wearing_holder
{
  width: 46px;
  height: 46px;

  margin-left: 40px;

  display: inline-block;
  position: relative; /* must be absolute or relative to use slideToObject */

}

.mat_head_backpack_holder
{
    width: 35px;
    height: 46px;

    display: inline-block;
    position: relative; /* must be absolute or relative to use slideToObject */

}

#mat_body_row
{
    margin-top: 6px;
}

.mat_body_wearing_holder
{
  width: 46px;
  height: 46px;

  margin-left: 24px;

  display: inline-block;
  position: relative; /* must be absolute or relative to use slideToObject */
}

.mat_body_backpack_holder
{
    width: 35px;
    height: 46px;

    margin-top: 5px;

    display: inline-block;
    position: relative; /* must be absolute or relative to use slideToObject */
}

#mat_legs_row
{
    margin-top: 2px;
}

.mat_legs_wearing_holder
{
  width: 46px;
  height: 46px;

  margin-top: -1px;
  margin-left: 24px;

  display: inline-block;
  position: relative; /* must be absolute or relative to use slideToObject */
}

.mat_legs_backpack_holder
{
    width: 35px;
    height: 46px;

    margin-top: 4px;

    display: inline-block;
    position: relative; /* must be absolute or relative to use slideToObject */
}

#mat_feet_row
{
    margin-top: 4px;
}

.mat_feet_wearing_holder
{
  width: 46px;
  height: 46px;

  margin-left: 24px;

  display: inline-block;
  position: relative; /* must be absolute or relative to use slideToObject */
}

.mat_feet_backpack_holder
{
    width: 35px;
    height: 46px;

    margin-top: 1px;

    display: inline-block;
    position: relative; /* must be absolute or relative to use slideToObject */
}

#pilot_and_engineer_row
{
  margin-top: 5px;
}

.player_board_saucer_mat_pilot_1
{
  width: 50px;

  position: absolute;
  left: 48px;
  top: 76px;
}

.player_board_saucer_mat_pilot_2
{
  width: 50px;

  position: absolute;
  left: 48px;
  top: 419px;
}

.player_board_saucer_mat_engineer_1
{
  width: 50px;

  position: absolute;
  left: 141px;
  top: 75px;
}

.player_board_saucer_mat_engineer_2
{
  width: 50px;

  position: absolute;
  left: 141px;
  top: 419px;
}

.player_board_saucer_mat_doctor_1
{
  width: 50px;

  position: absolute;
  left: 60px;
  top: 119px;
}

.player_board_saucer_mat_doctor_2
{
  width: 50px;

  position: absolute;
  left: 62px;
  top: 501px;
}

.player_board_saucer_mat_scientist_1
{
  width: 50px;

  position: absolute;
  left: 134px;
  top: 118px;
}

.player_board_saucer_mat_scientist_2
{
  width: 50px;

  position: absolute;
  left: 134px;
  top: 482px;
}


/***** SAUCERS *****/
.saucer {
    width: 49px;
    height: 47px;
    position: relative;
    background-image: url('img/saucer_token.png');
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter:         drop-shadow(2px 2px 2px #222);
}

.saucer_color_01b508 { background-position: -49px 0px;   } /* green */
.saucer_color_0090ff { background-position: -98px 0px;   } /* blue */
.saucer_color_fedf3d { background-position: -147px 0px;   } /* yellow */
.saucer_color_f6033b { background-position: 0px 0px;   } /* red */
.saucer_color_e77324 { background-position: -244px 0px;   } /* orange */
.saucer_color_b92bba { background-position: -196px 0px;   } /* purple */




/***** ZAG *****/
.zag {
    width: 76px;
    height: 76px;
    position: absolute;
    margin-left: 35px;
    margin-top: -75px;
    background-image: url('img/zag_token_circle.png');

}

.zag_holder {
    width: 76px;
    height: 76px;
    display: inline-block;

}

/***** BOOSTERS *****/
#booster_pile {
    width: 120px;
    height: 64px;
    background-image: url('img/booster_pile.png');

    display: inline-block;
    position: relative;

    margin-left: 45px;
    margin-top: 5px;

    background-color: rgba(90,90,90,0.5);

    border-radius: 10px;
    border: 5px #5A5A5A solid;
}

.booster_token {
    width: 30px;
    height: 30px;

    background-image: url('img/booster_30.png');

    position: relative;

    z-index: 10;
}

.booster_token_small {
    width: 20px;
    height: 20px;

    background-image: url('img/booster_20.png');

    position: relative;

    z-index: 10;
}

.booster_acquired_area_1 {
    width: 30px;
    height: 30px;

    position: absolute;
    left: 108px;
    top:60px;
}

.booster_acquired_area_2 {
    width: 30px;
    height: 30px;

    position: absolute;
    left: 108px;
    top:405px;
}

.player_board_booster_count_holder {
    width: 35px;
    display: block;
}

.player_board_booster {
    float: right;
}

.player_board_energy_and_booster_count_holder {
    float: right;
    margin-top: 10px;
}

/***** ENERGY *****/
#energy_pile {
    width: 120px;
    height: 64px;
    background-image: url('img/energy_pile.png');

    display: inline-block;
    position: relative;

    margin-left: 30px;

    background-color: rgba(90,90,90,0.5);

    border-radius: 10px;
    border: 5px #5A5A5A solid;
}

.energy_cube {
    width: 20px;
    height: 19px;
    background-image: url('img/energy_cube_20w.png');
    position: relative;

    z-index: 10;
}

.energy_acquired_area_1 {
    width: 30px;
    height: 30px;

    position: absolute;
    left: 113px;
    top:110px;
}

.energy_acquired_area_2 {
    width: 30px;
    height: 30px;

    position: absolute;
    left: 113px;
    top:453px;
}

.energy_1 {
    margin-top: 0px;
}

.energy_2 {
  margin-top: 2px;
}

.energy_3 {
margin-top: 4px;
}

.energy_4 {
margin-top: 6px;
}

.player_board_energy_count_holder {
    width: 35px;
    display: inline-block;
}

.player_board_energy {
    float: right;
}

/***** UPGRADES *****/
#upgrade_market_container
{
  width: 713px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;


    background-color: gray;
}

.upgrade_card {
    display: inline-block;
    position: relative; /* needed for a thing that slides */
    width: 230px;
    height: 164px;
    background-image: url('img/ship_upgrades_230_164.jpg');
    cursor: pointer;
}

#upgradeCardHolder {
    height: 164px;
    font-weight: 400;
    line-height: 10px;
}

#lost_crewmembers_and_move_cards
{
    max-width: 735px;
    float: left;
}

/***** CREWMEMBERS *****/
#lost_crewmember_container
{
    width: 346px;
    height: 290px;

    /*center it*/
    display:flex;
    justify-content: center;
    align-items: center;

    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 5px;

    float: left;

    background-color: rgba(255,255,255,0.5);

    border-radius: 10px;
    border: 5px #ffffff solid;
}

.highlighted_garment_pile
{
    background-color: white;
    opacity: 0.6;
    filter:alpha(opacity=60);

    cursor: pointer;

    border: 5px solid red ! important;
}

/* This is the container holding a single garment */
.garment_holder {
  width: 51px;
  height: 51px;

  margin: 0px;
  margin-top: 5px;
  padding: 0px;

  display: inline-block;
  position: relative;  /* must be absolute or relative to use slideToObject */

}

/*
#garment_holder_head_f6033b { background-position: 0px 0px;   }
#garment_holder_head_01b508 { background-position: -36px 0px;   }
#garment_holder_head_0090ff { background-position: -72px 0px;   }
#garment_holder_head_fedf3d { background-position: -108px 0px;   }
*/

.available_garment_group {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
    width: 47px;
    display: inline-block;
}

.garment_column_left {
    float: left;
}

.garment_column_right {
  float: right;
}



/* this is the class for a single garment */
.crewmember {
    width: 47px;
    height: 47px;
    padding: 0px;
    margin: 2px;
    position: relative;  /* must be absolute or relative to use slideToObject */
    display: inline-block;
    background-image: url('img/crewmembers.png');
    z-index: 10;
}
.crewmember_small {
  width: 23px;
  height: 23px;
  padding: 0px;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;  /* must be absolute or relative to use slideToObject */
  display: inline-block;
  background-image: url('img/crewmembers_small.png');
  z-index: 10;
}

.highlighted_garment
{
    box-sizing: border-box;
    border: 3px solid red;
    cursor: pointer;
}

.played_pilot {
  transform: rotate(90deg);
}
.played_engineer {
  transform: rotate(-90deg);
}
.played_doctor {
  transform: rotate(45deg);
}
.played_scientist {
  transform: rotate(-45deg);
}

/* CREWMEMBER IN PLAY */
/* red garments */
.crewmember_pilot_f6033b { background-position: -141px 0px;   }
.crewmember_engineer_f6033b { background-position: -141px -47px;   }
.crewmember_doctor_f6033b { background-position: -141px -94px;   }
.crewmember_scientist_f6033b { background-position: -141px -141px;   }

/* green garments */
.crewmember_pilot_01b508 { background-position: 0px 0px;   }
.crewmember_engineer_01b508 { background-position: 0px -47px;   }
.crewmember_doctor_01b508 { background-position: 0px -94px;   }
.crewmember_scientist_01b508 { background-position: 0px -141px;   }

/* blue garments */
.crewmember_pilot_0090ff { background-position: -47px 0px;   }
.crewmember_engineer_0090ff { background-position: -47px -47px;   }
.crewmember_doctor_0090ff { background-position: -47px -94px;   }
.crewmember_scientist_0090ff { background-position: -47px -141px;   }

/* yellow garments */
.crewmember_pilot_fedf3d { background-position: -94px 0px;   }
.crewmember_engineer_fedf3d { background-position: -94px -47px;   }
.crewmember_doctor_fedf3d { background-position: -94px -94px;   }
.crewmember_scientist_fedf3d { background-position: -94px -141px;   }

/* purple garments */
.crewmember_pilot_b92bba { background-position: -235px 0px;   }
.crewmember_engineer_b92bba { background-position: -235px -47px;   }
.crewmember_doctor_b92bba { background-position: -235px -94px;   }
.crewmember_scientist_b92bba { background-position: -235px -141px;   }

/* orange garments */
.crewmember_pilot_e77324 { background-position: -188px 0px;   }
.crewmember_engineer_e77324 { background-position: -188px -47px;   }
.crewmember_doctor_e77324 { background-position: -188px -94px;   }
.crewmember_scientist_e77324 { background-position: -188px -141px;   }

/* CREWMEMBER IN MESSAGE LOG */
/* red garments */
.crewmember_small_pilot_f6033b { background-position: -71px 0px;   }
.crewmember_small_engineer_f6033b { background-position: -71px -24px;   }
.crewmember_small_doctor_f6033b { background-position: -71px -47px;   }
.crewmember_small_scientist_f6033b { background-position: -71px -71px;   }

/* green garments */
.crewmember_small_pilot_01b508 { background-position: 0px 0px;   }
.crewmember_small_engineer_01b508 { background-position: 0px -24px;   }
.crewmember_small_doctor_01b508 { background-position: 0px -47px;   }
.crewmember_small_scientist_01b508 { background-position: 0px -71px;   }

/* blue garments */
.crewmember_small_pilot_0090ff { background-position: -23px 0px;   }
.crewmember_small_engineer_0090ff { background-position: -23px -24px;   }
.crewmember_small_doctor_0090ff { background-position: -23px -47px;   }
.crewmember_small_scientist_0090ff { background-position: -23px -71px;   }

/* yellow garments */
.crewmember_small_pilot_fedf3d { background-position: -47px 0px;   }
.crewmember_small_engineer_fedf3d { background-position: -47px -24px;   }
.crewmember_small_doctor_fedf3d { background-position: -47px -47px;   }
.crewmember_small_scientist_fedf3d { background-position: -47px -71px;   }

/* purple garments */
.crewmember_small_pilot_b92bba { background-position: -118px 0px;   }
.crewmember_small_engineer_b92bba { background-position: -118px -24px;   }
.crewmember_small_doctor_b92bba { background-position: -118px -47px;   }
.crewmember_small_scientist_b92bba { background-position: -118px -71px;   }

/* orange garments */
.crewmember_small_pilot_e77324 { background-position: -94px 0px;   }
.crewmember_small_engineer_e77324 { background-position: -94px -24px;   }
.crewmember_small_doctor_e77324 { background-position: -94px -47px;   }
.crewmember_small_scientist_e77324 { background-position: -94px -71px;   }



/***** PLAYER BOARDS *****/
.player_board_info
{
    margin-top: 10px;
}

.player_board_ostrich_and_crown_holder {
    width: 45px;
    height: 150px;
    display: inline-block;
    float: left;
}

#player_board_crown {
    width: 35px;
    height: 56px;
    margin-left: 3px;
    background-image: url('img/probe_35w.png');
    position: relative;
}

.player_board_crown_holder {
    display: block;
    width: 45px;
    height: 65px;

}

.player_board_ostrich_holder {
    display: inline-block;
    width: 30px;
    height: 30px;
}


.player_board_direction_holder {
  width: 45px;
  height: 62px;
  display: block;
  float: left;
}

.player_board_arrow {
    width: 35px;
    height: 62px;
    margin-left: 3px;
    background-image: url('img/arrow_35w.png');
    position: relative;
}


.player_board_trap_and_zag_holder {
  width: 154px;
  height: 100apx;
  display: inline-block;
  float: left;
}

.player_board_trap_holder {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.player_board_zag_holder {
  display: block;
  width: 25px;
  height: 25px;
}

/* FLOAT */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-7px);
	}
	100% {
		transform: translatey(0px);
	}
}

.saucer_float
{
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
